* {
	margin: 0;
}
.main {
	display: flex;
}
.left {
	width: 200px;
	height: 800px;

	background-color: red;
}
.middle {
	width: calc(100% - 400px);
	height: 800px;

	background-color: blue;
}
.right {
	width: 200px;
	height: 800px;

	background-color: yellow;
}