* {
	margin: 0;
}
.main: after {
	content: "";
	height: 0;
	visibility: hidden;
	display: block;
	clear: both;
}
.left {
	float: left;

	width: 200px;
	height: 800px;

	background-color: red;
}
.middle {
	float: left;

	width: calc(100% - 400px);
	height: 800px;

	background-color: blue;
}
.right {
	float: right;

	width: 200px;
	height: 800px;

	background-color: yellow;
}